**appPsicologa/Version 1/.idea/
**appPsicologa/Version 1/appPsicologa/.gradle/
**appPsicologa/Version 1/appPsicologa/.idea/
**appPsicologa/Version 1/appPsicologa/build/
**appPsicologa/Version 2/appPsicologa/.gradle/
**appPsicologa/Version 2/appPsicologa/.idea/
**appPsicologa/Version 2/appPsicologa/build/
**appPsicologa/Version 2/SimulationServer/.gradle/
**appPsicologa/Version 2/SimulationServer/.settings/
appPsicologa/Version 2/SimulationServer/.classpath
appPsicologa/Version 2/SimulationServer/.project

